.form1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input, select {
  width: 100%;
  max-width: 300px;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  max-width: 100px;
  padding: 5px;
  margin-bottom: 10px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}